.main {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.gradient {
  background-image: linear-gradient(to bottom, #333333, #2096ae);

}

.Rectangle {
  margin-bottom: 16px;
  width: 328px;
  height: 49px;
  border: none;
  border-radius: 21.5px;
  background-color: rgba(216, 216, 216, 0.15);
  position: relative;
  top: 352px;
}

.Rectangle .Regstrate {
  width: 227px;
  height: 26px;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.Rectangle .Mi-cuenta {
  width: 205px;
  height: 26px;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.AlterEgo {
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  top: 250px;
}

.icon {
  margin: 0 auto;
  width: 66px;
  height: 69px;
  position: relative;
  top: 124px;

}

.blue-title {
  color: #2096ae;
  top: 50px;
  position: absolute;
  left: 80px;
  right: 80px;
}

.registrate {
  position: absolute;
  top: 181px;
  left: 133px;
  right: 132px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.signSvg {
  position: absolute;
  left: 16px;
  bottom: 99px;
  z-index: -1;
}

.signForm {
  position: absolute;
  top: 223px;
  left: 48px;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.signBtn {
  position: absolute;
  bottom: 24px;
  left: 24px;
  width: 328px;
  height: 49px;
  border-radius: 24.5px;
  background-color: #238a9f;
}

.signSpan {
  width: 65px;
  height: 21px;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.signLabel {
  position: relative;
  text-align: left;
  display: block;
}

.signInput {
  border: none;
  width: 279px;
  background-color: #333333;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.signHr {
  width: 279px;
  height: 1px;
  opacity: 0.56;
  border: 0;
  display: block;
  border-top: 1px solid #ffffff;
  padding: 0;
  margin-top: 1px;
}

.setupH1 {
  width: 264px;
  height: 64px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 304px;
  left: 56px;
}

.setupBtn {
  width: 152px;
  height: 49px;
  border-radius: 23.5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #2096ae;
  position: absolute;
  bottom: 24px;

}

.setupSpan {
  width: 20px;
  height: 21px;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.yes {
  right: 23px;
}

.no {
  left: 24px;
}

.svgTop {
  position: absolute;
  top: 80px;
  left: 16px;
  z-index: -1;
}

.questionsH1 {
  width: 225px;
  height: 99px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 117px;
  left: 75px;
}


.questionForm {
  position: absolute;
  top: 312px;
  left: 16px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;

}


.questionLabel {
  position: relative;
  text-align: left;
  display: block;
}

.questionInput {
  border: none;
  width: 343px;
  background-color: #fff;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.questionHr {
  width: 343px;
  height: 1px;
  opacity: 0.56;
  border: 0;
  display: block;
  border-top: 1px solid #2096ae;
  padding: 0;
  margin-top: 1px;
}

.questionsP {
  width: 186px;
  height: 16px;
  font-family: PlayfairDisplay;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  top: 196px;
  left: 84px;
  margin-top: -15px
}

.genreBtn {
  position: absolute;
  left: 24px;
  width: 328px;
  height: 49px;
  border-radius: 24.5px;
  background-color: #238a9f;
  top: 824px;
  margin-bottom: 24px;
}

.genresSvg {
  position: absolute;
  top: 255px;
  left: 0px;
  z-index: -1;
}

.Terror, .Clasicas, .Historicas, .Aventuras, .Mitologia{
 display: block;
 margin-top: 25px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  
}

.terrorDiv {
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 300px;

}

.clasicDiv{
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 400px;
}

.historDiv{
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 500px;
}

.aventDiv{
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 600px;
}

.mitoDiv{
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 710px;
}

.whiteFont{
  color: #ffffff;
}

.blackFont{
  color: #333333;
}

.genreBlue{
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.11);
  border: solid 1px #2096ae;
  fill: #2096ae;
}

.genreWhite{
  border-radius: 15px;
  box-shadow: 2px -2px 9px 2px rgba(0, 0, 0, 0.11);
  border: solid 1px #60b3c4;
  fill: #ffffff;
}

.avatarSpan{
  width: 154px;
  height: 32px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display:block;
  margin-top: 152px;
}

.questionsH2{
  width: 154px;
  height: 32px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 152px;
  left: 111px;
}