

.main {
  text-align: center;
  width: 100%;
  height: 100vh;
}
.gradient{
  background-image: linear-gradient(to bottom, #333333, #2096ae);

}
.Rectangle {
  margin-bottom: 16px;
  width: 328px;
  height: 49px;
  border:none;
  border-radius: 21.5px;
  background-color: rgba(216,216,216, 0.15);
  position: relative;
  top:352px;
}

.Rectangle .Regstrate {
  width: 227px;
  height: 26px;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  
}

.Rectangle .Mi-cuenta {
  width: 205px;
  height: 26px;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.AlterEgo {
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  top:250px;
}

.icon{
  width: 66px;
  height: 69px;
  opacity: 0.15;
  background-color: #d8d8d8;
  position: relative;
  top:124px;
  left:155px;
}
.blue-title{
  color: #2096ae;
  top:50px;
}
