::-webkit-scrollbar {
  display: none;
}

.main {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.gradient {
  background-image: linear-gradient(to bottom, #333333, #2096ae);

}

.Rectangle {
  margin-bottom: 16px;
  width: 328px;
  height: 49px;
  border: none;
  border-radius: 21.5px;
  background-color: rgba(216, 216, 216, 0.15);
  position: relative;
  top: 352px;
}

.Rectangle .Regstrate {
  width: 227px;
  height: 26px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.Rectangle .Mi-cuenta {
  width: 205px;
  height: 26px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.AlterEgo {
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  top: 250px;
}

.icon {
  margin: 0 auto;
  width: 66px;
  height: 69px;
  position: relative;
  top: 124px;

}

.blue-title {
  color: #2096ae;
  top: 50px;
  position: absolute;
  left: 80px;
  right: 80px;
}

.registrate {
  position: absolute;
  top: 181px;
  left: 133px;
  right: 132px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.signSvg {
  position: absolute;
  left: 16px;
  bottom: 99px;
  z-index: -1;
}

.signForm {
  position: absolute;
  top: 223px;
  left: 48px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.signBtn {
  position: absolute;
  bottom: 24px;
  left: 24px;
  width: 328px;
  height: 49px;
  border-radius: 24.5px;
  background-color: #238a9f;
}

.signSpan {
  width: 65px;
  height: 21px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.signLabel {
  position: relative;
  text-align: left;
  display: block;
}

.signInput {
  border: none;
  width: 279px;
  background-color: #333333;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.signHr {
  width: 279px;
  height: 1px;
  opacity: 0.56;
  border: 0;
  display: block;
  border-top: 1px solid #ffffff;
  padding: 0;
  margin-top: 1px;
}

.setupH1 {
  width: 264px;
  height: 64px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 304px;
  left: 56px;
}

.setupBtn {
  width: 152px;
  height: 49px;
  border-radius: 23.5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #2096ae;
  position: absolute;
  bottom: 24px;

}

.setupSpan {
  width: 20px;
  height: 21px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.yes {
  right: 23px;
}

.no {
  left: 24px;
}

.svgTop {
  position: absolute;
  top: 80px;
  left: 16px;
  z-index: -1;
}

.questionsH1 {
  width: 225px;
  height: 99px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 117px;
  left: 75px;
}


.questionForm {
  position: absolute;
  top: 312px;
  left: 16px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;

}


.questionLabel {
  position: relative;
  text-align: left;
  display: block;
}

.questionInput {
  border: none;
  width: 343px;
  background-color: #fff;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.questionHr {
  width: 343px;
  height: 1px;
  opacity: 0.56;
  border: 0;
  display: block;
  border-top: 1px solid #2096ae;
  padding: 0;
  margin-top: 1px;
}

.questionsP {
  width: 186px;
  height: 16px;
  font-family: PlayfairDisplay;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  top: 196px;
  left: 84px;
  margin-top: -15px
}

.genreBtn {
  position: absolute;
  left: 24px;
  width: 328px;
  height: 49px;
  border-radius: 24.5px;
  background-color: #238a9f;
  top: 824px;
  margin-bottom: 24px;
}

.genresSvg {
  position: absolute;
  top: 255px;
  left: 0px;
  z-index: -1;
}

.Terror,
.Clasicas,
.Historicas,
.Aventuras,
.Mitologia {
  display: block;
  margin-top: 25px;
  font-family: PlayfairDisplay;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;

}

.terrorDiv {
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 300px;

}

.clasicDiv {
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 400px;
}

.historDiv {
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 500px;
}

.aventDiv {
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 600px;
}

.mitoDiv {
  left: 0;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 710px;
}

.whiteFont {
  color: #ffffff;
}

.blackFont {
  color: #333333;
}

.genreBlue {
  box-shadow: 2px 2px 9px 2px rgba(0, 0, 0, 0.11);
  border: solid 1px #2096ae;
  fill: #2096ae;
}

.genreWhite {
  border-radius: 15px;
  box-shadow: 2px -2px 9px 2px rgba(0, 0, 0, 0.11);
  border: solid 1px #60b3c4;
  fill: #ffffff;
}

.avatarSpan {
  width: 154px;
  height: 32px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: block;
  margin-top: 152px;
}

.questionsH2 {
  width: 154px;
  height: 32px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 152px;
  left: 111px;
}

.intro {
  background-image: radial-gradient(circle at 50% 60%, rgba(0, 0, 0, 0.99), rgba(90, 90, 90, 0.99) 97%, rgba(94, 94, 94, 0.99), #ffffff);
}

.Oval {
  position: absolute;
  top: 86px;
  left: 122px;
}

.introH1 {
  animation: 6s ease-in 0s 1 scale;
  width: 225px;
  height: 99px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 398px;
  left: 75px;
}

.cloudLeft {
  animation: 6s ease-in 0s 1 slideInFromRigth;
  position: absolute;
  left: 0px;
  top: 300px;
}

.cloudRigth {
  animation: 6s ease-in 0s 1 slideInFromLeft;
  position: absolute;
  right: 0px;
  top: 300px;
}

@keyframes slideInFromLeft {
  0% {
    transform: transateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes slideInFromRigth {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.enigmaInput {
  position: absolute;
  left: 100px;
  top: 510px;
  z-index: 2;
  outline: none;
  background-color: rgba(16, 16, 16, 0);
  color: #ffffff;
  opacity: 0.71;
  font-family: PlayfairDisplay;
  font-size: 15px;
  border: none;
  text-align: center;
}

.enigma {
  height: 667px;
}

.enigmaImg {
  height: 667px;
}

.image {
  width: 216px;
  height: 261px;
  display: inline-block;
}

.scroll1,
.scroll2 {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scroll2 {
  margin-bottom: 40px;
}

.homeTerrorH1 {
  margin-top: 74px;
  margin-left: 16px;
  width: 234px;
  height: 43px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2096ae;
}

.homeTerrorH2 {
  margin-top: 15px;
  margin-bottom: 19px;
  margin-left: 16px;
  width: 234px;
  height: 43px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2096ae;
}

.avatar {
  margin-left: 29px;
  width: 96px;
  height: 96px;
  display: inline-block;
  transition: width 1s;
  transition: height 1s;

  &:hover {
    width: 115px;
    height: 115px;
  }
}

.avatarTop {
  margin-top: 320px;
  margin-bottom: 40px;
}

.cap1H1 {
  margin-top: 83px;
  margin-left: 42px;
  width: 291px;
  height: 53px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.imageCap {
  width: 156px;
  margin: 0 auto;
  display: block;
}

.cap1text {
  width: 311px;
  height: 549px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #333333;
  margin: 28px 32px 70px 32px;
}

.imageArrow {
  width: 100px;
  position: relative;
  left: 243px;
  bottom: 32px;
}

.imageTiger {
  width: 162px;
  height: 167px;
  display: block;
  margin: 0 auto;

}

.cap2text {
  width: 311px;
  height: 651px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #333333;
  margin: 83px 32px 80px 32px;
}

.cap3Span {
  padding-top: 15px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.cap2Span {
  padding-top: 15px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

.cap2Btn {
  margin-top: 100px;
  margin-bottom: 24px;
  margin-left: 24px;
  width: 328px;
  height: 49px;
  border-radius: 23.5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #2096ae;
}

.oval {
  left: 128px;
  top: 817px;
  position: absolute;
  width: 124px;
  height: 124px;

}

.ovalCircle {
  margin-bottom: 46px;
  left: 115px;
  top: 804px;
  position: absolute;
  width: 149px;
  height: 149px;

}

.btnSi {
  position: absolute;
  top: 859px;
  left: 285px;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #2096ae;
  font-family: PlayfairDisplay;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.btnNo {
  position: absolute;
  top: 859px;
  left: 54px;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #2096ae;
  font-family: PlayfairDisplay;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.desliza {
  animation: 10s ease 0s 100 deslizar;
  position: absolute;
  top: 764px;
  left: 134px;
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(0);
  }
}

.badText {
  width: 312px;
  height: 293px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: #333333;
  margin: 83px 32px 24px 32px;
}

.fishBad {
  display: block;
  margin: 0 auto;
  width: 172px;
  height: 182px;

}

.fin {
  display: block;
  margin: 0 auto;
  width: 33px;
  height: 27px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2096ae;

}

.goodText {
  height: 173px;
  margin-bottom: 21px;
}

.finCap {
  margin-top: 27px;
  font-size: 20px;
  width: 155px;
  height: 27px;
}

.Mapa {
  top: 40px;
  left: 32px;
  position: absolute;
  width: 44px;
  height: 24px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2096ae;
}

.Shape {
  position: absolute;
  top: 41px;
  right: 32px;
  width: 24px;
  height: 24px;

}

.prev {
  left: 16px;
  top: 41px;
  position: absolute;
  width: 79px;
  height: 22px;
}

.mainModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 666px;
  background-color: rgba(179, 179, 179, 0.7);
}

.insideModal {
  margin-top: 153px;
  margin-left: 34px;
  width: 308px;
  height: 192px;
  border-radius: 15px;
  background-color: #ffffff;
}

.textModal {
  display: block;
  width: 264px;
  height: 97px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin: 0px auto;
  padding-top: 36px;
}

.goodModalBtn {
  position: relative;
  top: 50px;
  left: 80px;
  width: 144px;
  height: 31px;
  border-radius: 16.5px;
  background-color: #2096ae;
  font-family: PlayfairDisplay;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.closeX {
  padding: 1px 9px 2px 9px;
  border-radius: 50%;
  border: solid 1px #2096ae;
  margin-top: 10px;
  position: absolute;
  right: 50px;
  color:#2096ae;
}

.hide{
  display:none;
}

.textModal2 {
  display: block;
  width: 275px;
  height: 92.7px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-family: PlayfairDisplay;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin: 0px auto;
  padding-top: 45px;
}

.back{
  top:30px;
  left:30px;
  position: absolute;
  width:100px;
  height:40px;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

.enig{
  
  border-radius: 15px;
  background-color: #333333;
}
.enigtext{
  padding-top:50px;
  width: 209px;
  height: 104px;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

html, body {
  max-width: 375px;
  min-height:100%;height:100%;
  outline:none;
}
html {
  display: block;
  margin:0 auto
}

.saltar {
  position: absolute;
  top:39px;
  left:295px;
  width: 48px;
  height: 24px;
  font-family: PlayfairDisplay;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e6e6e;
}

button{
  outline:none;
}